.project-container{
    width:100%;
    height: fit-content;
    object-fit: contain;
    display: flex;
    flex-wrap: wrap;
    background-color: #1f00bb;
    justify-content: center;
    
}


.h2-p{
    background-color:  #180673;
    box-shadow: 11px 0px 10px 20px  #180673;
    height: 10px;
    width: 100%;
    margin-bottom: 40px;
display: flex;
justify-content: center;
align-items: center;
color: white;


}

.project-image{
    border: 1px solid;
    object-fit: cover;
 
}
.project-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    color: white;


}