.slider-container {
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(to bottom, #000000, #1f00bb);
  background: linear-gradient(to bottom, #000000, #1f00bb);
}

.slider-container h1{
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
  color: rgb(255, 255, 255);
}

.imagen {
  width: 100px;
  height: 100px;
  margin: 24px;
  pointer-events: none;
  
}

.btns {
  display: flex;
  margin: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.btn {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px 0 16px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: white;
}
